.timer-header {
    background: rgb(44, 44, 44);
}

.timer-content {
    height: 75px;
    background: rgb(70, 70, 70);
}

.timer-content > .left-side {
    width: 50% !important;
}

.timer-title {
    width: 100%;
    background-color: transparent;
    border: none;
    color: white;
}

.timer-title:focus {
    border: none;
}

.timer-history {
    background: rgb(70, 70, 70);
}

.timer-history > hr {
    width: 120%;
    border: 1px solid #ccc;
    margin: 0;
    margin-left: -20px;
}

.timer-history-divider,
.timer-content,
.timer-history {
    color: rgb(214, 214, 214) !important;
}

.timer-history-content > .left-side,
.timer-history-content > .right-side {
    font-size: 10px;
}

/* Content */
.content-header>h4 {
    font-weight: 900;
}
.content-sub-title {
    display: flex;
    align-items: center;
}
.title-code {
    margin-left: 5px;
    font-size: 13px; 
    margin-bottom: 0 !important;
}

.status-icon.open {
    color: #3498db;
}
.status-icon.closed {
color: #e74c3c;
}
.status-icon.in_progress {
color: #f1c40f;
}
.status-icon.finished {
color: #2ecc71;
}
