.card {
    border: none;
    background: rgb(70, 70, 70);
}

.card-header {
    padding: 0;
    border-radius: 5px;
}

.btn-filter-sidebar { 
    background: none;
    color: white;
    border: none;
    padding: 10px;
}

.btn-filter-sidebar { 
    background: none;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.btn-filter-sidebar:hover { 
    background: rgb(100, 100, 100);
}

.btn-filter-sidebar:active { 
    background: rgb(112, 112, 112);
}

.list-group {
    overflow-y: auto;
    max-height: 65vh;
}

.list-group-item {
    border-radius: 5px;
    border: 1px rgb(86, 86, 86) solid;
    background: rgb(44, 44, 44);
}

.sidebar-item {
    cursor: pointer;
    color: white;
}

.sidebar-item:hover {
    background: rgb(95, 95, 95);
}

.sidebar-item.active {
    background: rgb(95, 109, 130);
    border: 1px rgb(86, 86, 86) solid;
    color: rgb(37, 56, 83);
}

.sidebar-item.active:active {
    color: white;
}

.left-side {
    font-size: 13px;
    /* font-weight: bold; */

    display: flex; 
    align-items: center;
}

.right-side {
    font-size: 13px;
}

.card-footer { 
    color: white
}